trips.csv filter=lfs diff=lfs merge=lfs -text
tripReportsEncoded.Rda filter=lfs diff=lfs merge=lfs -text
tripReportsEncoded.csv filter=lfs diff=lfs merge=lfs -text
tripReportsEncodedTable filter=lfs diff=lfs merge=lfs -text
